tr{padding:10px;}
td{padding:10px; 
   text-align:center;}
   
hr{ border:1px solid #595959;}
#danger{color:red;}

html { 
  background: url(collage1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
#roow3 {margin-left:40px;
margin-top:170px;}
i{padding:10px; color:white;}
i:hover{color:#005ce6;}

